<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
   

  <add key="AppDB" value="data source=34.233.13.67;Database=MEDTRIX;user id=Medtrix;password=S3rv3r;" />

    <!-- Mail Options -->
    <add key="SmtpUserName" value="life@medtrixhealthcare.com" />
    <add key="SmtpPassword" value="Resumes@2016" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />

    <add key="receiver" value="contact@medtrixhealthcare.com" />

    <!-- Messages -->
    <add key="ContactMessage" value="Thank you for contacting us. This is a auto responsed email. our concern person will contact you as soon as possible." />

    <!-- Logger -->
    <add key="LogFile" value="C:\Live\Websites\Medtrix_2016\Files\Logs.log" />
  </appSettings>
  <system.web>
	 <customErrors defaultRedirect="https://www.medtrixhealthcare.com/error404.html" mode="RemoteOnly">
            <error redirect="https://www.medtrixhealthcare.com/error404.html" statusCode="404" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <rewrite>
            <rules>

               <rule name="Force HTTPS" enabled="true">    
   <match url="(.*)" ignoreCase="false" />    
   <conditions>    
      <add input="{HTTPS}" pattern="off" />    
   </conditions>    
   <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />    
      </rule>
            </rules>
        </rewrite>
		<httpErrors errorMode="Custom">
    <remove statusCode="404" subStatusCode="-1" />
    <error statusCode="404" prefixLanguageFilePath="" path="/error404.html" responseMode="ExecuteURL" />
</httpErrors>
        <staticContent>
            <mimeMap fileExtension=".dat" mimeType="application/oct-stream" />
        </staticContent>
    </system.webServer>
</configuration>
